typst-finite
.DS_Store
docs
**/_hidden
*.bak
.compile_hashes.json
.compressed_hashes.json
cap/cap-lab24
cap/cap-lab25

category-theory/algebraic-and-combinatorial-aspects-of-category-theory
cgdi/practicals
cgdi/project
dbdm/dm
hott
ip/
pp/proofs*
stage/
zibeline/
topologie-algebrique/algebre-avancee.pdf
